<h1>Welcome to CSE Moters!</h1>

<div id="vehicle-display">
  <section>
    <h3>DMC Delorean</h3>
    <p>Cup Holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy Dice</p>
    <span>
      <a href="/" title="Action Button">Own Today</a>
    </span>
  </section>
  <picture>
    <source srcset="/images/delorean.jpg" type="image/jpg">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean">
  </picture>
</div>

<section>
  <h2>DMC DeLorean Reviews</h2>
  <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road" (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</section>

<section>
  <h2>Delorean Upgrages</h2>
  <ul>
    <li>Flux Capacitor</li>
    <li>Flame Decals</li>
    <li>Bumper Stickers</li>
    <li>Hub Caps</li>
  </ul>
</section>