<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div>
  <div><a href="inv/add-classification">Add new classification</a></div>
  <div><a href="inv/add-inventory">Add new inventory</a></div>
</div>